<div class="nav-side">
    <div class="log-area">
        <img class="img-logo" src="assets/images/logo.png" alt="logo" width="30px" height="20px">
    </div>
    <div class="icons-navigation-area">
        <div class="icon-navagation">
            <img src="assets/images/layout.png" alt="" height="20px" width="20px">
        </div>
        <div class="icon-navagation-disabled">
            <img class="img-logo" src="assets/images/balance-sheet.png" alt="logo" width="20px" height="20px">
        </div>
    </div>
    <div class="bottom-area">
        <img class="img-logo" src="assets/images/sair.png" alt="logo" width="20px" height="20px">
    </div>
</div>
