.nav-side {
    background-color: var(--components-back-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 100%;
    .log-area {}
    .icons-navigation-area {}
    .bottom-area {}
}