<div class="skeleton">
    <div class="top">
        <div class="area-nome">
            <div class="nome-coin"> <strong>{{nameCurrencie}}</strong> </div>
            <div class="seta">></div>
        </div>
        <div class="area-info">
            <div class="variacao" [class.variacao-green]="colorVariation === 'green'" [class.variacao-red]="colorVariation === 'red'">{{variation}}</div>
            <div class="price"><strong> {{ price | currency:'BRL':true}} </strong></div>
        </div>
    </div>
    <div class="bottom">
        <canvas #coin>

        </canvas>
    </div>
</div>
