.fundo {
    width: 100vw;
    height: 100vh;
    background-color: var(--back-color);
    .container-main {
        padding: 10px;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        .left-side {
            flex: 1;
        }
        .right-side {
            flex: 20;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 30px;
            .top-info {
                display: flex;
                justify-content: space-between;
                flex: 1;
                width: 100%;
                min-height: 50px;
                .search-area {}
                .info-area {
                    display: flex;
                    .avatar-area {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        .avatar {
                            width: 35px;
                            height: 35px;
                            border-radius: 20px;
                            background-color: gray;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                        .icon-arrow-down {
                            cursor: pointer;
                        }
                    }
                    .theme-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 20px;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                    .name-user {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            section {
                display: flex;
                flex: 10;
                flex-direction: column;
                .section-top {
                    margin-bottom: 20px;
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
                    .welcome-area {
                        letter-spacing: 2px;
                        .name-plataform {
                            font-size: 10px;
                            opacity: 0.7;
                        }
                        .welcome {
                            display: flex;
                            margin-top: 10px;
                            .welcome-back {
                                font-size: 22px;
                                font-weight: 300;
                                .username {
                                    font-size: 22px;
                                    font-weight: 100;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                    .button-area {
                        .button {
                            background: #000000;
                            border-radius: 10px;
                            box-shadow: 1px 2px 4px rgb(0, 0, 0);
                            padding: 10px 20px;
                            color: #ffffff;
                            display: inline-block;
                            font: normal 12px "Roboto", sans-serif;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
                .section-buttom {
                    flex: 10;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 30px;
                    .dashboard-top {
                        flex: 4;
                        height: 50%;
                        display: flex;
                        .dashboard-top-left-side {
                            flex: 2;
                            margin: 0px;
                        }
                        .dashboard-top-right-side {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
                    .dashboard-bottom {
                        height: 50%;
                        flex: 3;
                        display: flex;
                        margin-top: 16px;
                        .left-area {
                            flex: 2;
                            display: flex;
                        }
                        .right-area {
                            flex: 1;
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}