<section class="fundo">
    <div class="container-main">
        <div class="left-side">
            <app-slide-navegator></app-slide-navegator>
        </div>
        <div class="right-side">
            <div class="top-info">
                <div class="search-area"></div>
                <div class="info-area">
                    <div class="name-user">username</div>
                    <div class="theme-icon">
                        <img src="assets/images/sun.png" alt="theme-color" height="20px" width="20px">
                    </div>
                    <div class="avatar-area">
                        <div class="avatar"></div>
                        <div class="icon-arrow-down">
                            <img src="assets/images/down-arrow.png" alt="down-arrow" width="12px" height="12px">
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="section-top">
                    <div class="welcome-area">
                        <div class="name-plataform">FINANCE PLATAFORM DASHBOARD</div>
                        <div class="welcome">
                            <div class="welcome-back">Welcome back, <span class="username"> <strong>Denison Portela</strong></span></div>
                        </div>
                    </div>
                    <div class="button-area">
                        <div class="button">Actions</div>
                    </div>
                </div>
                <div class="section-buttom"></div>
            </section>
        </div>
    </div>

</section>
