.skeleton {
    background-color: var(--components-back-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .top {
        flex: 1;
        margin-bottom: 40px;
        .area-nome {
            display: flex;
            .titulo {
                font-size: large;
                background: -webkit-linear-gradient(black, rgb(130, 129, 129));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .seta {
                margin-left: 10px;
                cursor: pointer;
                font-size: x-large;
                background: -webkit-linear-gradient(black, rgb(130, 129, 129));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-top: -3px;
            }
        }
    }
    .bottom {
        display: flex;
        .taable {
            width: 100%;
            .variacao-red {
                color: red;
            }
            .variacao-green {
                color: green;
            }
        }
    }
}
