<div class="skeleton">
    <div class="top">
        <div class="area-nome">
            <div class="titulo"> <strong>Other Currencies</strong> </div>
            <div class="seta">></div>
        </div>
    </div>
    <div class='bottom'>
        <table class="taable">
            <tbody *ngFor="let currencie of currencies">
                <tr>
                    <td>{{currencie.name}}</td>
                    <td [class.variacao-green]="isPositive(currencie.varBid)" [class.variacao-red]="isNegative(currencie.varBid)">{{currencie.varBid}}%</td>
                    <td>{{ currencie.high | currency:'BRL':true}}</td>
                </tr>
                <hr>
            </tbody>
        </table>
    </div>
</div>
