<div class="skeleton">
    <div class="top">
        <div class="area-nome">
            <div class="titulo"> <strong>Other Currencies</strong> </div>
            <div class="seta">></div>
        </div>
    </div>
    <div class='bottom'>
        <table class="table">
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td style="color: green;">+1,04%</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td style="color: green;">+1,04%</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td style="color: green;">+1,04%</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td style="color: green;">+1,04%</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td style="color: green;">+1,04%</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>