<div class="skeleton">
    <div class="icon">
        <div class="icon-area">
            <!-- <img id="minhaimg" src="assets/images/thr.gif" alt="" width="120px"> -->
            <img id="minhaimg" [src]="pathImageCoin" [ngStyle]="{'width': size}">

        </div>
    </div>
    <div class="content">
        <div class="title">
            <div class="number">
                <strong>{{ price | currency }}</strong>
            </div>
            <div class="description">
                {{nameCoin}}
            </div>
        </div>
        <div class="board">
            <canvas #coinBoard>

      </canvas>

        </div>

    </div>
